%block-animation {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
}

%btn {
    display: block;
    border: none;
    text-align: center;
    transition: all 0.5s ease;
    margin: $margin-center;
    cursor: pointer;
    color: $white;
}

%btn-text {
    text-transform: uppercase;
    border-radius: 18px;
    padding: 5px 18px;
    background: $blue;
    font: 400 14px/26px $secondary-fonts;
    letter-spacing: 2px;
    text-align: center;
}

